/PrintCommand/nbproject/private/
/PrintCommand/build/
/ScannerCommand/nbproject/private/
/ScannerCommand/build/
/MultipleOfTwo/nbproject/private/
/MultipleOfTwo/build/
/WoodPlanksTriangle/nbproject/private/
/WoodPlanksTriangle/build/
/EvaluateScore/nbproject/private/
/EvaluateScore/build/
/SumMultiplyCalculator/nbproject/private/
/SumMultiplyCalculator/build/
/PrintOdds/nbproject/private/
/PrintOdds/build/
/ValidationNumber1to4/nbproject/private/
/ValidationNumber1to4/build/
/ScoreArray/nbproject/private/
/ScoreArray/build/
/MatrixGreatestValue/nbproject/private/
/MatrixGreatestValue/build/
/EqualStrings/nbproject/private/
/EqualStrings/build/
